[Unit]
Description=Kiosk
After=graphical.target

[Service]
ExecStart=/bin/bash /home/pi/start-kiosk.sh
Environment=DISPLAY=:0
Restart=always

[Install]
WantedBy=default.target
